@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';

html body {
    overflow-x: hidden;
}

li {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

#demo-bg {
    background-image: url('../img/bg.jpg');
    height: 100vh;
}

.weather-data {
    width: 33%;
}

.box2 {
    background-color: #ffded5;
}
