<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conclusion - CPS 530 Term Project</title>
    <link rel="icon" href="../img/favicon.png">

    <!-- Import CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Import JS -->
    <script src="../script/index.js"></script>
</head>

<body>
    <nav class="navbar box p-3" id="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <figure>
                <img src="../img/favicon.png" width="50" alt="CPS530" />
            </figure>
            <p class="navbar-item has-text-weight-semibold">
                CPS 530 Project
            </p>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-end">
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="../index.html">
                        Home
                    </a>

                    <a class="navbar-item" href="./install.html">
                        Install
                    </a>

                    <a class="navbar-item" href="./tutorial.html">
                        Tutorial
                    </a>

                    <a class="navbar-item" href="./demo.html">
                        Demo
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Developers
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="./conclusion.html">
                                Conclusion
                            </a>
                            <a class="navbar-item" href="./developers.html">
                                Team
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <h1 class="title has-text-centered mt-6">Conclusion & References</h1>

    <div class="columns mb-6">
        <div class="container column is-10">
            <section class="section box">
                <h2 class="has-text-weight-bold is-size-5 mb-3">Conclusion</h2>
                <p class="has-text-weight-semibold mb-3">Rate your experience with the frameworks that you chose</p>
                <p class="mb-5">Using Bulma as our frontend framework was an excellent choice. It helped us quickly and
                    creatively style a stunning looking website without predefined CSS classes. Ultimately it helped us
                    produce clean and concise code for our client.
                    <br /> <br />
                    When using Node.js as our backend framework, it
                    worked out to be very accessible and simple to work with. We decided to also implement
                    Express.js to create our REST API server within our backend Node.js framework for our application
                    which we developed.
                </p>
                <p class="has-text-weight-semibold mb-3">Did they perform to your expectations?</p>
                <p class="mb-5">Bulma worked flawlessly without any issues and performed well above our expectations.
                    Producing the same styling with raw HTML/CSS
                    would have been a little difficult and very time-consuming. By using Bulma, it took seconds to use
                    modern and appealing styling for our application. I think experienced and new web developers would
                    easily grasp learning to use a frontend framework and would appreciate the convenience which is
                    offers.
                    <br /> <br />
                    Node.js surpassed our expectations, delivering a great experience. Calling APIs to
                    retrieve information and execute logic from our backend framework was made simple. We used JSON to
                    our advantage to pass data between the client and server, as well as leveraged using its JSON
                    objects
                    for the mapping of our JavaScript objects.
                </p>
                <p class="has-text-weight-semibold mb-3">Were they difficult to install or configure?</p>
                <p class="mb-5">Bulma was extremely straightforward to install. Although there are many methods to
                    import Bulma, we created a CSS file and wrote a one line import which referenced Bulma's CSS files
                    from their web server. Alternative methods include just referencing their CDN in the 'head' section
                    of an HTML file or by downloading their actual CSS file and linking that within the 'head' of an
                    HTML file.
                    <br /> <br />
                    Node.js was surprisingly very easy to install and get running. We created our package.json file and
                    included essential details and any required packages and that was it! Using Express.js was a breeze
                    with Node.js, as it only took a few lines of code to actually get the server up and running without giving us any
                    trouble at all.
                </p>
                <p class="has-text-weight-semibold mb-3">Was it easy to create the page(s) with it?</p>
                <p class="mb-5">Yes, it was easy to create all the pages with Bulma since their documentation is very
                    thorough and well detailed. Their documentation is easily accessible if you go onto Bulma's website
                    and you can see many example's along with their code which makes learning Bulma very simple and
                    straightforward.
                    <br /> <br />
                    Yes, it was easy to create the pages, allowing them to receive parsed data from our APIs by using
                    both Node.js and Express.js. This allowed both our client to communicate with our backend server and
                    to display the data received without any issues.
                </p>
                <p class="has-text-weight-semibold mb-3">Was the learning curve steep compared with regular
                    HTML/CSS/JavaScript/PHP? </p>
                <p class="mb-5">All of us on our team felt that the learning curve was not steep and that learning these
                    frameworks was hassle free. Bulma is predefined CSS and to use their CSS, you just provide their
                    class names to the elements which you would like to apply the CSS to. Therefore, we believe that by
                    understanding the basics of HTML and CSS, we were able to use this frontend framework right away.
                    Node.js and Express.js both use JavaScript and are very intuitive to use. All of us have used these
                    frameworks many times in the past and have leveraged using many npm packages and cloud services such
                    as AWS and Firebase as well. Although there is much to learn about 3rd party packages and services,
                    the curve from learning Vanilla JavaScript to everything else is not too extreme, it just takes
                    time and patience. Thus, we feel that using a backend framework is extremely beneficial
                    and provides many ways to use JavaScript.
                </p>
                <p class="has-text-weight-semibold mb-3">Would you have done things differently in retrospect? </p>
                <p class="mb-5">Bulma is a rapidly growing CSS framework being developed by many community members with
                    many new professional and personal projects benefiting from the profound CSS styling which is
                    provides. It is very easy to use and enabled us to create an attractive user interface in no time.
                    Node.js and Express.js are both very popular backend and server frameworks which provide amazing
                    service, efficiency and reliability. Large companies such as Netflix, PayPal, Uber, NASA, and
                    Twitter, all use these technologies to the best of their capabilities to provide top quality
                    services for consumers/users. Therefore, we would not have done things differently in
                    retrospect for this project.</p>
                <p class="has-text-weight-semibold mb-3">Did you regret your choice of frameworks? </p>
                <p class="mb-5">No, both our frontend and backend frameworks were very easy to install, configure, and
                    use. Our frontend framework provided us attractive modern styling, while our backend framework and
                    server provided us with quick and reliable service. Thus, we felt that we made educated decisions
                    which gave us outstanding results.</p>
            </section>
            <section class="section box content">
                <h2 class="has-text-weight-bold is-size-5 mb-3">References</h2>
                <ul>
                    <li><a href="https://www.codeinwp.com/blog/bootstrap-vs-foundation-vs-bulma-vs-semantic-vs-uikit/#:~:text=Bulma%20is%20an%20open%20source,GitHub%20with%20over%2035k%20stars"
                            rel="noopener" target="_blank">Codeinwp</a>
                    </li>
                    <li><a href="https://stackshare.io/bulma" rel="noopener" target="_blank">StackShare
                        </a></li>
                    <li><a href="https://medium.com/selleo/top-trends-in-node-js-to-watch-in-2021-d94ff38cc31e"
                            rel="noopener" target="_blank">Medium
                        </a></li>
                    <li><a href="https://graffersid.com/node-js-advantages-and-disadvantages/" rel="noopener"
                            target="_blank">Graffiers ID
                        </a> </li>
                    <li><a href="https://trio.dev/blog/companies-use-node-js" rel="noopener" target="_blank">Trio
                        </a> </li>
                </ul>
            </section>
        </div>
    </div>
</body>

</html>