<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo - CPS 530 Term Project</title>

    <!-- Import CSS -->
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <nav class="navbar box p-3" id="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <p class="navbar-item has-text-weight-semibold">
                CPS 530 Project
            </p>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-end">
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        Home
                    </a>

                    <a class="navbar-item" href="./views/install.html">
                        Install
                    </a>

                    <a class="navbar-item" href="./views/tutorial.html">
                        Tutorial
                    </a>

                    <a class="navbar-item" href="./views/demo.html">
                        Demo
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Developers
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="./views/conclusion.html">
                                Conclusion
                            </a>
                            <a class="navbar-item" href="./views/developers.html">
                                Team
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <h1 class="title has-text-centered mt-5">Demo</h1>

    <div class="columns">
        <div class="column container column is-10">

        </div>
    </div>
</body>

</html>