<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developers - CPS 530 Term Project</title>
    <link rel="icon" href="../img/favicon.png">

    <!-- Import CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Import JS -->
    <script src="../script/index.js"></script>
</head>

<body>
    <nav class="navbar box p-3" id="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <figure>
                <img src="../img/favicon.png" width="50" alt="CPS530" />
            </figure>
            <p class="navbar-item has-text-weight-semibold">
                CPS 530 Project
            </p>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-end">
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="../index.html">
                        Home
                    </a>

                    <a class="navbar-item" href="./install.html">
                        Install
                    </a>

                    <a class="navbar-item" href="./tutorial.html">
                        Tutorial
                    </a>

                    <a class="navbar-item" href="./demo.html">
                        Demo
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Developers
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="./conclusion.html">
                                Conclusion
                            </a>
                            <a class="navbar-item" href="./developers.html">
                                Team
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <h1 class="title has-text-centered mt-6">Developers</h1>

    <div class="columns mb-6">
        <div class="container column is-10">
            <div class="columns is-centered">
                <div class="column is-4 box m-2 p-5">
                    <figure class="has-text-centered m-3">
                        <img src="../img/acura.jpg" width="200px" alt="Himal Patel" />
                    </figure>
                    <h4 class="has-text-weight-bold has-text-centered is-size-5 mb-2">Himal Patel</h4>
                    <h5 class="has-text-weight-semibold has-text-centered mb-3">(500873885)</h5>
                    <section class="content">
                        <p class="has-text-weight-semibold">Responsibilities</p>
                        <ul>
                            <li>HTML and CSS for the Home Page.</li>
                            <li>Content, HTML, and CSS for the Install Page.</li>
                            <li>HTML and CSS for the Tutorial Page.</li>
                            <li>Content for the Demo Page.</li>
                            <li>Wrote backend server code.</li>
                        </ul>
                    </section>
                </div>
                <div class="column is-4 box m-2 p-5">
                    <figure class="has-text-centered m-3">
                        <img src="../img/kisslandcat.jpg" width="200px" alt="Michael Pereira" />
                    </figure>
                    <h4 class="has-text-weight-bold has-text-centered is-size-5 mb-2">Michael Pereira</h4>
                    <h5 class="has-text-weight-semibold has-text-centered mb-3">(500896409)</h5>
                    <section class="content">
                        <p class="has-text-weight-semibold">Responsibilities</p>
                        <ul>
                            <li>Content for the Home Page.</li>
                            <li>Content for the Tutorial Page.</li>
                            <li>HTML and CSS for the Demo Page.</li>
                            <li>HTML and CSS for the Developers Page.</li>
                            <li>Hosted repo on Github and hosted website on Netlify.</li>
                        </ul>
                    </section>
                </div>
                <div class="column is-4 box m-2 p-5">
                    <figure class="has-text-centered m-3">
                        <img src="../img/panda.png" width="200px" alt="Robert Reis" />
                    </figure>
                    <h4 class="has-text-weight-bold has-text-centered is-size-5 mb-2">Robert Reis</h4>
                    <h5 class="has-text-weight-semibold has-text-centered mb-3">(500959105)</h5>
                    <section class="content">
                        <p class="has-text-weight-semibold">Responsibilities</p>
                        <ul>
                            <li>Content, HTML and CSS for the Demo Page.</li>
                            <li>Content for the Developers Page.</li>
                            <li>Content, HTML and CSS for the Conclusion Page.</li>
                            <li>Hosted server on Heroku.</li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>

</html>