<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial - CPS 530 Term Project</title>
    <link rel="icon" href="../img/favicon.png">

    <!-- Import CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Import JS -->
    <script src="../script/index.js"></script>
</head>

<body>
    <nav class="navbar box p-3" id="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <figure>
                <img src="../img/favicon.png" width="50" alt="CPS530" />
            </figure>
            <p class="navbar-item has-text-weight-semibold">
                CPS 530 Project
            </p>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-end">
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="../index.html">
                        Home
                    </a>

                    <a class="navbar-item" href="./install.html">
                        Install
                    </a>

                    <a class="navbar-item" href="./tutorial.html">
                        Tutorial
                    </a>

                    <a class="navbar-item" href="./demo.html">
                        Demo
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Developers
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="./conclusion.html">
                                Conclusion
                            </a>
                            <a class="navbar-item" href="./developers.html">
                                Team
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <h1 class="title has-text-centered my-6">Tutorial</h1>

    <h1 class="title has-text-centered is-italic mt-6">How to make a good looking website?</h1>

    <div class="columns mb-6">
        <div class="container column is-10">
            <section class="section box">
                <h2 class="has-text-weight-bold is-size-4 mb-3">1st. Choose your Frontend CSS Framework</h2>
                <p class="mb-5">First off, you must choose configure and install your preferred frontend CSS framework.
                    For this
                    tutorial and our example, we will be using <b>Bulma</b>. Althought we will go more in depth with our
                    guide and examples, feel free to browse through the <a href="https://bulma.io/" target="_blank"
                        rel="noopener">website</a> and <a href="https://bulma.io/documentation/" target="_blank"
                        rel="noopener">documentation</a>.</p>
                <h2 class="has-text-weight-bold is-size-4 mb-3">2nd. Picking the right IDE for your project</h2>
                <p class="mb-5">There are many ways that developers will create, edit, and run their code. Generally,
                    they use a
                    program called an <b>IDE</b> (integrated development environment), which usually offers them plenty
                    of
                    benefits when coding such as third-party plugins, themes, code analysis, smart suggestions,
                    automation tools and debugging. For creating web applications using HTML, CSS annd JavaScript we
                    would like to recommend you to use either <a href="https://code.visualstudio.com/" target="_blank"
                        rel="noopener">Visual Studio Code</a> or <a href="https://www.jetbrains.com/webstorm/"
                        target="_blank" rel="noopener">WebStorm</a> for the greatest development experience.</p>
                <h2 class="has-text-weight-bold is-size-4 mb-3">3rd. Learning and using your CSS Framework</h2>
                <p class="mb-3">Below we will go over specific steps on how to create a good looking website:</p>
                <h2 class="has-text-weight-semibold is-size-5 is-underlined mb-3">Typography</h2>
                <p class="mb-5">
                    Alter text properties such as the size, weight, and others too! Take a look at how Bulma allows you
                    to customize these properties.
                    <br />
                    <a href="https://bulma.io/documentation/helpers/typography-helpers/" target="_blank"
                        rel="noopener"><button class="button is-dark mt-3">Check out Bulma's Docs!</button></a>
                </p>
                <h2 class="has-text-weight-semibold is-size-5 is-underlined mb-3">Images</h2>
                <p class="mb-5">
                    Images should be responsive so that your layout is not destroyed when the viewport's width changes.
                    Bulma shows you how to make your images responsive and how to style them too!
                    <br />
                    <a href="https://bulma.io/documentation/elements/image/" target="_blank" rel="noopener"><button
                            class="button is-dark mt-3">Check out Bulma's Docs!</button></a>
                </p>
                <h2 class="has-text-weight-semibold is-size-5 is-underlined mb-3">Buttons</h2>
                <p class="mb-5">
                    Buttons are at the core of any form and design. They are meant to be an element which can be noticed
                    and interactive on your page. Have an attractive button with a hover effect too! Check out Bulma
                    does allows users to do this on their docs.
                    <br />
                    <a href="https://bulma.io/documentation/elements/button/" target="_blank" rel="noopener"><button
                            class="button is-dark mt-3">Check out Bulma's Docs!</button></a>
                </p>
            </section>
        </div>
    </div>

    <h1 class="title has-text-centered is-italic mt-6">Now ... let's make our website functional!</h1>

    <div class="columns">
        <div class="container column is-10">
            <section class="section box">
                <h2 class="has-text-weight-bold is-size-4 mb-3">1st. Choose your Backend Framework</h2>
                <p class="mb-5"></p>
                <h2 class="has-text-weight-bold is-size-4 mb-3">2nd. Choose your Server</h2>
                <p class="mb-5"></p>
                <h2 class="has-text-weight-bold is-size-4 mb-3">3rd. Install Required Dependencies</h2>
                <p class="mb-5"></p>
                <h2 class="has-text-weight-bold is-size-4 mb-3">4th. Create an index.js file</h2>
                <p class="mb-5"></p>
                <h2 class="has-text-weight-bold is-size-4 mb-3">5th. Create a designated route</h2>
                <p class="mb-5"></p>
                <h2 class="has-text-weight-bold is-size-4 mb-3">6th. Calling an API</h2>
                <p class="mb-5"></p>
                <h2 class="has-text-weight-bold is-size-4 mb-3">7th. Running your server</h2>
                <p class="mb-5"></p>
            </section>
        </div>
    </div>
</body>

</html>