<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Tutorial - CPS 530 Term Project</title>
    <link href="../img/favicon.png" rel="icon">

    <!-- Import CSS -->
    <link href="../css/style.css" rel="stylesheet">
    <!-- Import JS -->
    <script src="../script/index.js"></script>
</head>

<body>
    <nav aria-label="main navigation" class="navbar box p-3" id="navbar" role="navigation">
        <div class="navbar-brand">
            <figure>
                <img alt="CPS530" src="../img/favicon.png" width="50" />
            </figure>
            <p class="navbar-item has-text-weight-semibold">
                CPS 530 Project
            </p>

            <a aria-expanded="false" aria-label="menu" class="navbar-burger" data-target="navbarBasicExample"
                role="button">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-menu" id="navbarBasicExample">
                <div class="navbar-start">
                    <a class="navbar-item" href="../index.html">
                        Home
                    </a>

                    <a class="navbar-item" href="./install.html">
                        Install
                    </a>

                    <a class="navbar-item" href="./tutorial.html">
                        Tutorial
                    </a>

                    <a class="navbar-item" href="./demo.html">
                        Demo
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Developers
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="./conclusion.html">
                                Conclusion
                            </a>
                            <a class="navbar-item" href="./developers.html">
                                Team
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <h1 class="title has-text-centered my-6">Tutorial</h1>

    <h1 class="title has-text-centered is-italic mt-6">How to make a good-looking website?</h1>

    <div class="columns mb-6">
        <div class="container column is-10">
            <section class="section box">
                <h2 class="has-text-weight-bold is-size-4 mb-3">1st. Picking the right IDE for your project</h2>
                <p class="mb-5">There are many ways that developers will create, edit, and run their code. Generally,
                    they use a
                    program called an <b>IDE</b> (integrated development environment), which usually offers them plenty
                    of
                    benefits when coding such as third-party plugins, themes, code analysis, smart suggestions,
                    automation tools and debugging. For creating web applications using HTML, CSS and JavaScript we
                    would like to recommend you to use either <a href="https://code.visualstudio.com/" rel="noopener"
                        target="_blank">Visual Studio Code</a> or <a href="https://www.jetbrains.com/webstorm/"
                        rel="noopener" target="_blank">WebStorm</a> for the greatest development experience.</p>
                <h2 class="has-text-weight-bold is-size-4 mb-3">2nd. Understanding the basics</h2>
                <p class="mb-5">Secondly, you should have a clear understanding of the basics of HTML and CSS. This
                    means knowing how to use most HTML elements correctly and being able to apply various CSS styling to
                    elements accordingly. We recommend before continuing with this tutorial to ensure that you are
                    up-to-date with your HTML and CSS skills by checking out
                    <a href="https://www.w3schools.com/html/html_basic.asp" rel="noopener" target="_blank">W3.Schools
                        HTML basics</a> and <a
                        href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics"
                        rel="noopener" target="_blank">MDN Web Docs' CSS basics</a> examples.
                </p>
                <h2 class="has-text-weight-bold is-size-4 mb-3">3rd. Choosing your Frontend CSS Framework</h2>
                <p class="mb-5">Next up, you must choose to configure and install your preferred frontend CSS
                    framework.
                    For this
                    tutorial and our example, we will be using <b>Bulma</b>. Although we will go more in depth with our
                    guide and examples, feel free to browse through their <a href="https://bulma.io/" rel="noopener"
                        target="_blank">website</a> and <a href="https://bulma.io/documentation/" rel="noopener"
                        target="_blank">documentation</a>.</p>
                <h2 class="has-text-weight-bold is-size-4 mb-3">4th. Learning and using your CSS Framework</h2>
                <p class="mb-3">It is quite simple to use a CSS framework. Lastly, simply apply an existing class to an
                    HTML
                    element, and it should apply the styling as expected. Below we will go over specific steps on how to
                    create a good-looking website:</p>
                <h2 class="has-text-weight-semibold is-size-5 is-underlined mb-3">Typography</h2>
                <p class="mb-5">
                    Alter text properties such as the size, weight, and others too! Take a look at how Bulma allows you
                    to customize these properties.
                    <br />
                    <a href="https://bulma.io/documentation/helpers/typography-helpers/" rel="noopener" target="_blank">
                        <button class="button is-dark mt-3">Check out Bulma's Docs!</button>
                    </a>
                    <br />
                    <br />
                    <b>Examples:</b>
                    <br />
                    <span class="is-italic">is-italic</span>
                    <span class="is-underlined">is-underlined</span>
                    <span class="has-text-weight-semibold">has-text-weight-semibold</span>
                    <span class="has-text-weight-bold">has-text-weight-bold</span>
                    <span class="is-size-5">is-size-5</span>
                    <span class="is-size-4">is-size-4</span>
                </p>
                <h2 class="has-text-weight-semibold is-size-5 is-underlined mb-3">Images</h2>
                <p class="mb-5">
                    Images should be responsive so that your layout is not destroyed when the viewport's width changes.
                    Bulma shows you how to make your images responsive and how to style them too!
                    <br />
                    <a href="https://bulma.io/documentation/elements/image/" rel="noopener" target="_blank">
                        <button class="button is-dark mt-3">Check out Bulma's Docs!
                        </button>
                    </a>
                    <br />
                    <br />
                    <b>Example:</b>
                    <br />
                <p>Using 'is-rounded' </p>
                <figure class="image is-128x128">
                    <br /><img alt="Car" class="is-rounded" src="../img/genesis-coupe.jpg" />
                </figure>
                </p>
                <h2 class="has-text-weight-semibold is-size-5 is-underlined mb-3">Buttons</h2>
                <p class="mb-5">
                    Buttons are at the core of any form and design. They are meant to be an element which can be noticed
                    and interactive on your page. Have an attractive button with a hover effect too! Check out how Bulma
                    allows users to do this on their docs.
                    <br />
                    <a href="https://bulma.io/documentation/elements/button/" rel="noopener" target="_blank">
                        <button class="button is-dark my-3">Check out Bulma's Docs!
                        </button>
                    </a>
                    <br />
                    <br />
                    <b>Examples:</b>
                    <br />
                    <br />
                    <button class="button is-primary mr-1">is-primary</button>
                    <button class="button is-info mx-1">is-info</button>
                    <button class="button is-danger mx-1">is-danger</button>
                    <button class="button is-warning mx-1">is-warning</button>
                </p>
            </section>

            <h1 class="title has-text-centered is-italic mt-6 pt-6">Now ... let's make our website functional!</h1>

            <section class="section box">
                <h2 class="has-text-weight-bold is-size-4 mb-3">1st. Choose your Backend Framework</h2>
                <p class="mb-5">There are many amazing resources and technologies out there to choose from. For
                    the
                    easiest and smoothest backend experience to connect with our frontend client developed in
                    HTML, CSS
                    and JavaScript, we will be using Node.js.</p>
                <h2 class="has-text-weight-bold is-size-4 mb-3">2nd. Choose your Server</h2>
                <p class="mb-5">One of the most popular REST API server packages to use along Node.js is
                    Express.js. By
                    choosing to use Express.js for our tutorial, we can ensure we have a trustworthy and
                    reliable node
                    package to implement.</p>
                <h2 class="has-text-weight-bold is-size-4 mb-3">3rd. Install Required Dependencies</h2>
                <p class="mb-5">Using node's package manager, <b>npm</b>, install each of the following
                    dependencies by
                    entering the following
                    command:
                    <br />
                    <b>$ npm install axios cors express </b>
                </p>
                <h2 class="has-text-weight-bold is-size-4 mb-3">4th. Create an index.js file</h2>
                <p class="mb-5">Next we will create our main JavaScript file which will contain the code
                    responsible for
                    configuring and running our server:
                    <br /> <br />
                    <img src="../img/index.js.png" alt="API" width="500px" />
                </p>
                <h2 class="has-text-weight-bold is-size-4 mb-3">5th. Create a designated route</h2>
                <p class="mb-5">
                    Following the previous step, we will create a designated route for the client to call our
                    API
                    server to retrieve information. Specifically for our tutorial, this API route will allow the
                    client
                    to call the server to get information on a particular city's weather. Check out the code
                    below:
                    <br /> <br />
                    <img src="../img/route.png" alt="API" width="500px" />
                </p>
                <h2 class="has-text-weight-bold is-size-4 mb-3">6th. Calling an API</h2>
                <p class="mb-5">Afterwards, from our server we call the Weather server's API in order to
                    actually
                    retrieve real current data on the city's weather:
                    <br /> <br />
                    <img src="../img/api.png" alt="API" width="500px" />
                </p>
                <h2 class="has-text-weight-bold is-size-4 mb-3">7th. Running your server</h2>
                <p class="mb-5">Lastly, run either of the following commands to start running your server!
                    <br />
                    <b>$ npm run start</b>
                    <br />
                    <i>OR</i>
                    <br />
                    <b>$ node index.js</b>
                </p>
                <p class="mb-5">We hope you enjoyed our tutorial and had a smooth learning experience! :)
                    Please check out our <a href="./demo.html" rel="noopener">Demo</a> page to see our code put
                    to
                    action.
                </p>
            </section>
        </div>
    </div>
    </div>
    </div>
</body>

</html>